.cls
{
position:absolute;
top:45%;
left:45%;
font-size:35px;
text-decoration:none;
}

#exit_id
{
color:#ffffffff;
position:absolute;
right:5%;
}

body
{
background-image:url("/static/paopaoapp/image/test.jpg");
}

#image
{
position:absolute;
left:30%;
top:20%;
width:40%;
height:70%;
background-color:#ffffffff;
}
