body
{
background-image:url("/static/paopaoapp/image/test.jpg");
}
#image
{
background-color:#ffffffff;
position:absolute;
left:30%;
top:10%;
width:50%;
height:70%;
}
h1
{
position:absolute;
left:50%;
top:25%;
}
form
{
overflow:hidden;
position:absolute;
top:35%;
left:45%;
}
form span
{
color:red;
}
#name_id
{
width:30%;
}
#pwd_id
{
width:30%;
}
#img_id
{
position:relative;
width:20%;
}
#but1
{
position:relative;
left:10%;
}
