h1
{
position:absolute;
left:50%;
top:20%;
text-align:center;
}
form
{
position:absolute;
width:50%;
left:40%;
top:30%;
}

#adress_id
{
width:40%;
}

#price_id
{
width:25%;
}

#needalt_id
{
width:42%;
border:solid 1px #000;
resize:none;
}

#sub_id
{
position:relative;
left:30%;
}

body
{
background-image:url("/static/paopaoapp/image/test.jpg");
}

#image
{
position:absolute;
left:30%;
top:10%;
width:50%;
height:70%;
background-color:#fff;
}
span
{
color:red;
}
