#body
{
background-image:url("/static/paopaoapp/image/test.jpg");
}

#div_form
{
/*color:#ffffffff;*/
font-size:15px;
/*text-align:center;
background-image:url("/static/paopaoapp/image/test.jpg");*/
height:70%;
}

#div_form span
{
color:red;
}

#name_id
{
position:relative;
left:2%;
width:30%;
}
#username_id
{
position:relative;
left:2%;
width:30%;
}
#password_id
{
position:relative;
left:2%;
width:30%;
}
#tel_id
{
position:relative;
left:2%;
width:30%;
}
#userid_id
{
position:relative;
left:2%;
width:30%;
}
#adress_id
{
position:relative;
left:2%;
width:30%;
}
#borth_id
{
position:relative;
left:2%;
width:30%;
}
#but1
{
position:relative;
left:18%;
}
#image
{
/*background-image:url("/static/paopaoapp/image/test.jpg");*/
background-color:#ffffffff;
position:absolute;
left:30%;
top:10%;
width:50%;
height:80%;
}
