<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script  src="/static/jquery.js"></script>
    <script type = 'text/javascript' src="/static/paopaoapp/js/login.js"></script>
    <link rel="stylesheet" href="/static/paopaoapp/css/login.css">
    <title>Title</title>
</head>
<body>
<div id="image"></div>
 <div><h1>用户登录</h1></div>
<div>
<form action = "/paopaoapp/login/" method = 'post' >
    账&nbsp号&nbsp: <input id ='name_id' name = 'username' type = 'text' value = ''><span id = 'span_name'></span><br><br>
    密&nbsp码&nbsp: <input id = 'pwd_id' name = 'password' type = 'password',value = ''><span id = 'span_password'></span><br><br>
    验&nbsp证&nbsp:  <input id = 'verify_id' name = 'verify' type = 'text' style = 'width:100px'>
    <img id = 'img_id' src = '/{{path}}'><input id = 'but3' type="button" value ="更换" style = "width:70px"><span id = 'span_verify'></span><br><br>
    <input id = 'but2' type = 'submit' value = '登录'>
    <input id = 'but1' type ='button' value="注册">
</form>
</div>
</body>
</html>